{% extends "base.html" %}
{% block content %}
<section class="container py-5">
  <h1 class="fw-bold mb-4">Blogs</h1>
  <div class="row g-4">
    {% for blog in blogs %}
      <div class="col-sm-6 col-md-4">
        <div class="card h-100 shadow-sm">
          <img src="{{ blog.title_image.url }}" class="card-img-top card-thumb" alt="{{ blog.title }}">
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">{{ blog.title }}</h5>
            <p class="card-text">{{ blog.content|truncatewords:20 }}</p>
            <div class="mt-auto">
              <a href="{% url 'blog_detail' blog.pk %}" class="btn btn-outline-primary btn-sm">Read More</a>
            </div>
          </div>
        </div>
      </div>
    {% empty %}
      <p>No blogs published yet.</p>
    {% endfor %}
  </div>
</section>
{% endblock %}
