# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
clint/   # replace with your virtualenv folder name

# Django
*.log

# Environment variables
.env

# Static and media
staticfiles/
media/
